{% extends "base.html" %}
{% block nav_block %}
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Транспорт</a>
        <a class="nav-item nav-link" href="#">Остановки</a>
        <a class="nav-item nav-link" href="#">Расписания</a>
    </div>
</div>
{% endblock %}
{% block content %}
{% endblock %}