html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.head {}

.main {
    flex: 1 1 auto;
}

.footer {
    font-size: .8rem;
    background-color: #1F1F22;
    color: #dedede;
}